{% extends 'base.html' %}
{% block title %}Introduction{% endblock %}

{% block content %}
<h1>Introduction</h1>

<p>
  This book collects together the basic concepts of enriched category theory.
  We start from the elementary definitions and end by describing the categories of algebras for limit-defined theories.
  In general we introduce the ordinary and enriched theory simultaneously.
</p>

<p>
  To define enriched categories we first define symmetric monoidal categories.
  If $\mathcal V$ is a symmetric monoidal category then we can construct a 2-category $\mathcal V$-Cat
  that consists of enriched categories, functors and natural transformations.
  Further we can define representable $\mathcal V$-functors and prove the Yoneda lemma.
</p>

<p>
  If $\mathcal V$ is complete then $\mathcal V$-Cat is closed.
  This means that we can make sense of diagrams in an enriched category and define limits in enriched categories.
  The right type of limit for a $\mathcal V$-category is called an indexed limit.
  (When $\mathcal V=Set$ then indexed limits are the same as ordinary limits.)
  Moreover it is possible to extend $\mathcal V$ to a large 'universe' in a way that does not disturb limits and colimits.
  This allows us to consider functor $\mathcal V$-categories where the domain is not necessarily small.
</p>

<p>
  We consider enriched category theory to be the correct setting for discussing limit-theories and completions.
  It is possible that the logic of symmetric monoidal categories contains the most fundamental part of classical logic.
</p>

<p>
  In the same way as we can study category theory using $2$-category theory,
  we can study $\mathcal V$-category theory using $2$-category theory.
  However we do not do so in this book.
  It would require a treatment of weak natural transformations, which would go too far beyond the scope of the work.
  Therefore we also do not include:- 
  <ul>
    <li>change of base induced by a symmetric monoidal functor $\mathcal V \rightarrow \mathcal V'$</li>
    <li>the work of Day that constructs symmetic monoidal categories as subcategories of functor categories</li>
    <li>the theory of monads and in particular the $2$-categorical treatment of monads by Street.</li>
  </ul>
  We also have not discussed in detail applications of enriched category theory,
  nor the additional results available when stronger assumptions are made about the base category.
</p>

<p>
  Although we do not cover them here, there are many applications of enriched category theory.
  For instance:-
  <ul>
    <li>topological algebra</li>
    <li>Kan extensions enriched over Banach spaces</li>
    <li>enriched differential graded modules</li>
    <li>finite-limit theories enriched in categories</li>
    <li>change of base in the study of homotopy limits</li>
    <li>infinite loop spaces</li>
    <li>monoidal structures on $[G, \mathcal V]$ and cohomology groups</li>
    <li>sheaves on a site are symmetric Cauchy-complete $\mathcal V$-categories.</li>
  </ul>
</p>

{% endblock %}