<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Introduction: basic conepts of enriched category theory</title>
</head>
<body>
  <h1>Introduction</h1>

  <p>
    This book collects together the basic concepts of enriched category theory.
    We start from the elementary definitions and end by describing the categories of algebras for limit-defined theories.
    Although we assume a little background knowledge of ordinary category theory,
    from Chapter 3 onward we introduce the ordinary and enriched theory simultaneously.
  </p>

  <p>
    If we want to define enriched categories then we must first define symmetric monoidal categories.
    Given a symmetric monoidal category $\mathcal V$, 
  </p>

  
  
  

</body>
</html>